<div class="color">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="mb-4">About Us</h1>
        <p class="lead">
          Welcome to CookKing, where food enthusiasts from around the world come
          together to share and discover delicious recipes. Our platform is
          dedicated to bringing you a diverse array of culinary delights from
          different cuisines, and we invite you to join our vibrant community of
          home cooks and chefs.
        </p>
        <img
          src="https://www.simplyrecipes.com/thmb/LYwosfrO2cGCT2_bGS5wIeHRnd8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__01__Butter-Chicken-LEAD-1-f8a0cd09ea9442ce93651887f164db03.jpg"
          alt="Delicious Food"
          height="300px"
          width="400px"
          class="img-fluid mb-4"
        />
      </div>
    </div>
    <div class="row mt-5 content-section">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2>Our Mission</h2>
        <p>
          At CookKing, our mission is to make cooking fun and accessible for
          everyone. We strive to provide an extensive collection of recipes from
          various cuisines, making it easy for you to find new dishes to try.
          Whether you're a seasoned chef or just starting out, we aim to inspire
          creativity and enhance your culinary journey.
        </p>
        <img
          src="/img/about1.png"
          alt="Delicious Food"
          height="400px"
          width="500px"
          class="img-fluid mb-4"
        />
      </div>
    </div>
    <div class="row  content-section">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2>Get Involved</h2>
        <p class="mb-4">
          We invite you to become an active part of CookKing! Browse our
          extensive collection of recipes, share your own creations, and connect
          with fellow food enthusiasts. Have a favorite recipe you'd like to
          contribute? Submit it through our easy-to-use submission form and
          share your culinary passion with the world!
        </p>
        <p>
          For any inquiries or support, feel free to reach out to us at
          <a href="mailto:support@cookking.com">support@cookking.com</a> or call
          us at (123) 456-7890. We look forward to hearing from you!
        </p>
      </div>
    </div>
  </div>
</div>
